<h2>Create Role</h2>

<form method="post">

    <div class="form-group">
        <label >Role Name</label>
        <input name="name" class="form-control" />
        <button class="btn btn-success mt-3">Create</button>
    </div>
</form>