@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles</h2>

<a class="btn btn-primary" asp-action="Create">Create New Role</a>

<table class="table table-bordered mt-3">

    <tr>
        <th>Role Name</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
        </tr>
    }
</table>

